@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif, Arial, Helvetica, sans-serif; 
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display: inline;
    margin-left: 18px;
    color: #E5E7EB;
}

.first{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
}

.content-1{
    display: flex;
    flex: 1;
    gap: 40px;
    padding-bottom: 80px;
    margin-right: 160px;
    margin-left: 160px;
    justify-content: space-between;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.left{
    width: 50%;
}

button{
    background-color: #3882F6;
    color: white;
    border-color: #3882F6;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

.second{
    display: flex;
    flex-direction: column;
}

.content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card{
    width: 160px;
    height: auto;
}

h3{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.secondary-img{
    height: 160px;
    width: 160px;
    border-radius: 5px;
}






/* ID's */

#header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#main-img{
    height: 200px;
    flex: 1 1 auto;
}
